/* 技能标签 */

.form-group {
  position: relative;
}

.techTags {
  display:  none;
  position: absolute;
  width:    100%;
  padding:  5px 15px;
  z-index:  1;
  .tab-pane {
    min-height:  165px;
    padding-top: 10px;
  }
  .nav-tabs li a {
    color:   #777;
    padding: 5px 10px;
  }
  .close {
    font-size:  14px;
    margin-top: 8px;
  }
  .nav-tabs {
    border-bottom: 3px solid #DDD
  }
  .nav-tabs li {
    border: none;
    a {
      margin-right:  0;
      margin-bottom: -2px;
      border:        none;
      border-bottom: 3px solid #DDD;
    }
  }
  .nav-tabs .active a {
    border-bottom: 3px solid #009A61;
    &:hover, &:focus {
      border:        none;
      border-bottom: 3px solid #009A61;
    }
  }
}